h5 {
    color: #000;
}
legend {
  color: #fff;
}
select {
  color: #000;
}

/*.gamemap {
  height: 100vh;
}*/
body {
    padding: 0;
    margin: 0;
}
html, body, #gamemap {
    height: 100%;
    width: 100vw;
}
html, body, .container {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
}
