.cord-box {
    border: gray;
    background-color: gray;
    color: white;
    padding: 10px;
    box-shadow:1px 1px 1px 1px grey;
}
#formMap {
    position: relative;
    width: 100%;
    height: 800px;
}
